<div class="mx-auto container-sm form-container">
  <h3>Recuperar senha</h3>
  <p>Por favor, insira o seu endereço de e-mail. Enviaremos um link para redefinir sua senha.</p>

  <form (ngSubmit)="submitToRecover()" class="mt-4">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>

    <div class="d-grid gap-2 mt-3">
      <button #buttonSubmit type="submit" class="btn btn-primary">Enviar email</button>
      <button type="button" (click)="backLogin()" class="btn btn-light">Voltar a tela de login</button>
    </div>
  </form>

  <span class="mt-4 d-block"><b>Nota: </b>Verifique sua caixa de entrada e o spam para garantir que receba o
    e-mail.</span>

  @if (countdownStart) {
  <div class="counter mt-3">
    Reenviar em: 00:{{counter}}
  </div>
  }
</div>