.alerta {
  position: absolute !important;
  top: 20px;
  right: 25px;
  opacity: 0;
  transition: all ease .3s;
}

.alerta.is-active {
  opacity: 1;
}

.container {
  max-width: 900px !important;
}

.eye {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}