/* Variáveis e estilo base */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --azul-bg-color: #001A4B;
    --azul-escuro-bg-color: #000f2b;
    --azul-claro: #0C44B0;
    --verde-escuro: #00B93C;
    --verde-claro: #4AD778;
}
