<div class="mx-auto container-sm form-container">
  <form class="p-3">
    <h3 class="mb-3">Login</h3>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha">
    </div>

    <div class="d-grid gap-3 mt-3">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    <button type="submit" class="btn btn-light float-end mt-2">Esqueci a senha</button>
  </form>
</div>